{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "entry"
        }
      }
    ],
    "@zeit/next-typescript/babel"
  ]
}
