$maxWidth: 700px;
$height: 40px;

.container {
  // background: url("/static/images/banner.png");
  background: black;
  opacity: 0.8;
  color: white;
  font-family: bungee, sans-serif;
}

.descContainer {
  @extend .guideLine;
  margin: 30px 0;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.mainDesc {
  font-family: orbitron;
  font-style: normal;
  font-size: 70px;
  font-weight: bold;
  margin: 0;
}

.subTitle {
  font-size: 24px;
  font-weight: bold;
}

.subDesc {
  padding: 50px 0;
  line-height: 1.5;
}

.guideLine {
  padding: 0 40px;
  max-width: $maxWidth;
}
